<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script th:src="@{/js/home.js}" defer></script>
    <title>See products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="header">
    <img  th:src="@{/images/companyLogo.jpg}" width="100px"  />
    <span class="header-text">COMPANY NAME</span>
</div>
<h2>Add product:</h2>
<!--TODO 1 inputs and button for add-->
<form>
    Name<input id="addProductName" name="addProductName" >
    Price<input id="addProductPrice" name="addProductPrice" >
    <input id="addProductButton" type="submit">
</form>

<h2>Delete product:</h2>
<form>
    Id <select class="form-control" id="deleteProductId">
        <option th:each="id : ${list_ids}" th:value="${id}" th:text="${'#' + id}"></option>
    </select>
    <input id="deleteProductButton" type="submit">
</form>

<h2>Modify product:</h2>
<form>
    Id <select class="form-control" id="patchProductId">
        <option th:each="id : ${list_ids}" th:value="${id}" th:text="${'#' + id}"></option>
    </select>
<!--    Id<input id="patchProductId" name="deleteId" >-->
    Name<input id="patchProductName" name="addProductName" >
    Price<input id="patchProductPrice" name="addProductPrice" >
    <input id="patchProductButton" type="submit">

    <div id="details"> details here </div>

</form>

<h2>Product list:</h2>

<ul> <!-- REPLACE THE LI ELEMENTS BELOW -->
    <li th:each="product:${products}" th:text="${product.id + ' ' + product.name + ' ' + product.price}"></li>
</ul>

<div id="products"></div>
</body>
</html>