<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Meeting Rooms - Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="text-center">Meeting Room Management</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a href="/request" class="btn btn-primary btn-lg mx-2">
        <span data-feather="filter"></span> Request Room
      </a>
      <a href="/approver" class="btn btn-danger btn-lg mx-2">
        <span data-feather="clipboard"></span> Approve/Deny Requests
      </a>
      <a href="/editor" class="btn btn-secondary btn-lg mx-2">
        <span data-feather="edit"></span> Edit Rooms
      </a>
      <a href="/about" class="btn btn-info btn-lg mx-2">
        <span data-feather="help-circle"></span> (#) Help
      </a>
    </div>
  </div>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>
</body>
</html>