<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Meeting Rooms - Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="text-center">Meeting Room Management</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a href="/request" class="btn btn-primary btn-lg mx-2">
        <span data-feather="filter"></span> Request Room
      </a>
      <a href="/approver" class="btn btn-danger btn-lg mx-2">
        <span data-feather="clipboard"></span> Approve/Deny Requests
      </a>
      <a href="/editor" class="btn btn-secondary btn-lg mx-2">
        <span data-feather="edit"></span> Edit Rooms
      </a>
      <a href="/about" class="btn btn-info btn-lg mx-2">
        <span data-feather="help-circle"></span> (#) Help
      </a>
    </div>
  </div>
  <div id="calendar" class="my-5"></div>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>
<script th:inline="javascript">
/*<![CDATA[*/
  var events = /*[[${events}]]*/[];
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: events,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaDay',
      timeFormat: 'H:mm',
      eventRender: function(event, element) {
        element.find('.fc-title').append("<br/>" + event.description);
      }
    });
  });
/*]]>*/
</script>
</body>
</html>